* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(253, 251, 251);
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1%;
  margin-left: 15px;
}
h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-bottom: 1%;
  margin-left: 15px;
}
a:link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

a:active {
  text-decoration: underline;
  color: gray;
  bottom: 1px;
}
footer{
  background-color: rgb(44, 42, 42);
  height: 50px;
  position: bottom;
  padding: 5%;
}
#foto{
  width: 500px;
}
#fotoPerfil {
  margin-left: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  width: 100%;
}

#topbox {
  padding: 2%;
  background-color: rgb(7, 121, 105);
  height: 20%;
  box-sizing: border-box;
  margin-bottom: 1%;
}

#cabecalho {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#mainBody {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2%;
}

#links {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(253, 251, 251);
}


#sobreMim {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-indent: 1.5em;
  font-weight: 400;
  text-align: left;
  text-align: justify;
  padding: 0;
  margin-left: 15px;
}

#conhecimentos {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12%;
}
#contatos{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
#icones{
  width: 20px;
}