* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(253, 251, 251);
}
h2 {
  margin-top: 10px;
  margin-left: 15px;
  padding-top: 10px;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  color: aliceblue;
  font-weight: 600;
}

footer {
  color: white;
  background-color: rgb(44, 42, 42);
  height: 90px;
  position:absolute;
	bottom:0;
  width: 100%;
}
#foto {
  width: 500px;
}
#fotoPerfil {
  margin: 15px;
  border-radius: 8px;
  width: 100%;
}

#topbox {
  padding: 2%;
  background-color: rgb(7, 121, 105);
  height: 20%;
  box-sizing: border-box;
  margin-bottom: 1%;
}

#cabecalho {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

#mainBody {
  display: flex;
}

#links {
  text-align: left;
  font-size: 20px;
  color: rgb(253, 251, 251);
}

#sobreMim {
  font-size: 20px;
  text-indent: 1.5em;
  font-weight: 400;
  text-align: justify;
  margin: 15px 25px;
}

#conhecimentos {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

#contatos {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#contatos i {
  font-size: larger;
}
